<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"> 
        <title>{{ title }}</title>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>