<div class="container">
    <hr class="w-header my-4">
    <hr class="w-header my-4">
    <section class="card wow fadeIn" style="background-image: url(https://images.theconversation.com/files/342259/original/file-20200616-23213-14003c2.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop); 
    background-repeat: no-repeat; background-position:center; background-size: cover;">
        <div class="card-body text-white text-center">
            <h1 class="mb-5">
                <strong>Get Help With <br> Your Daily Errands<br><br><br><br></strong>
            </h1>
        </div>
    </section>
    <hr class="w-header my-4">
    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Think about</h6>
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Are you</h3>
    <p class="lead text-center text-muted pt-2 mb-5">Too busy working remotely?<br>
        Sick or limited to outsude exposure?<br> Need some extra cash?</p>
    <hr class="w-header my-4">
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">But still need</h3>
    <p class="lead text-center text-muted pt-2 mb-5">Groceries bought and delivered?<br>
        Your house cleaned?<br>to Wait in a line?</p>
    <hr class="w-header my-4">
    <h3 class="font-weight-bold text-center teal-text pb-2"> Then let us help you </h3>
    <hr class="w-header my-4">

    <div class="row mb-4 wow fadeIn">
        <div class="col-lg-6 col-md-12 mb-4">
            <section class="card wow fadeIn"
                style="background-image: url(https://image.freepik.com/free-vector/collection-sticky-note-illustrations_53876-8293.jpg); ">
                <div class="mask rgba-indigo-light">
                    <div class="card-body text-white text-center py-5 px-5 my-5">
                        <h1 class="mb-4">
                            <strong>Get Your Errands Done</strong>
                        </h1>
                        <p>
                            <strong>Safe, Fast and Easy</strong>
                        </p>
                        <p class="mb-4">
                            <strong>Find a certified and background checked worker for any of your tasks during the
                                COVID-19 pandemic.
                                Choose from different categories and provide your time preferences.</strong>
                        </p>
                        <a target="_blank" href="/" class="btn btn-outline-white btn-lg"> Post an Errand Request
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 col-md-12 mb-4">
            <section class="card wow fadeIn"
                style="background-image: url(https://ichef.bbci.co.uk/news/1024/cpsprodpb/CFFB/production/_111434235_gettyimages-1083797232.jpg); ">
                <div class="mask rgba-indigo-light">
                    <div class="card-body text-white text-center py-5 px-5 my-5">
                        <h1 class="mb-4">
                            <strong>Help with an Errand</strong>
                        </h1>
                        <p>
                            <strong>Become an errand worker to help someone in need</strong>
                        </p>
                        <p class="mb-4">
                            <strong>Become an errand worker to help someone in need during the COVID-19 pandemic for
                                some extra cash.<br><br></strong>
                        </p>
                        <a target="_blank" href="/" class="btn btn-outline-white btn-lg"> Register
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <section class="px-md-5 mx-md-5 dark-grey-text text-center">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Workers and customers require to wear a mask</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Workers and customers require to sign a consent</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">All our workers have medical certification</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">All our workers are background checked</p>
                    </div>
                </div>
            </div>
            <p> Safety of our customers is our top priority. Therefore, our workers or customers can cancel the
                agreement at any time if they do not feel safe about their health.</p>
        </div>
    </section>
</div>