<link rel="stylesheet" href="css/main.css">
<script src="js/categories.js"></script>
<script src="js/posts.js"></script>
<script src="js/postings.js"></script>
<section id="c_postings">
    <h1>Service Requests</h1>
    <div id="c_postingsInner">
        <div id="leftNav">
            <div id="showLocation" class="c_leftNav">
                <label>Address</label>
                <input name="i_location" id="i_location" type="text" placeholder="Enter an address">
                <div id="c_locDropdown" class="c_dropdown"></div>
            </div>
            <div id="c_distSlider" class="c_leftNav">
                <label>Within <b id="postingsDistShow">50</b> km radius</label>
                <input type="range" min="1" max="200" value = "25" class="distSlider" id="postingsDistSlider">
            </div>
            <div id="c_categories" class="c_leftNav">
                <label>Category</label>
                <div>
                    <input name="i_category" id="i_category" type="text" placeholder="Enter a category">
                    <span id="deleteCategory">×</span>
                </div>
                <div id="c_catDropdown" class="c_dropdown"></div>
            </div>
            <div id="c_compensation" class="c_leftNav">
                <label>Compensation Type</label>
                <div class="c_radio">
                    <input id="r_compAny" type="radio" name="compType" value="any" checked>
                    <span>Any</span>
                </div>
                <div class="c_radio">
                    <input id="r_compHourly" type="radio" name="compType" value="hourly">
                    <span>Hourly</span>
                </div>
                <div class="c_radio">
                    <input id="r_compFixed" type="radio" name="compType" value="fixed">
                    <span>Fixed</span>
                </div>
            </div>
            <div id="c_priceSlider" class="c_leftNav">
                <label>From <b id="minPrice">$0</b> to <b id="maxPrice">$1000</b></label>
                <div id="priceSlider">
                    <div id="minSlider" class="priceSlider"></div>
                    <div id="maxSlider" class="priceSlider"></div>
                    <div id="innerPriceSlider"></div>
                </div>
            </div>
        </div>
        <div id="rightContent"></div>
    </div>
</section>