<link rel="stylesheet" href="css/main.css">
<script src="js/categories.js"></script>
<script src="js/postings.js"></script>
<section id="c_postings">
    <h1>Service Requests</h1>
    <div id="c_postingsInner">
        <div id="leftNav">
            <div id="c_showCity" class="c_leftNav">
                <label>Location</label>
                <input name="i_city" id="i_city" type="text">
            </div>
            <div id="c_distSlider" class="c_leftNav">
                <label>Search within <b id="postingsDistShow">50</b> km</label>
                <input type="range" min="1" max="200" value = "25" class="distSlider" id="postingsDistSlider">
            </div>
            <div id="c_categories" class="c_leftNav">
                <label>Category</label>
                <input name="i_category" id="i_category" type="text">
                <div id="c_catDropdown">
                </div>
            </div>
        </div>
        <div id="rightContent"></div>
    </div>
</section>