/* POSTINGS PAGE */
#postings_container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

#left_nav {
    width: 300px;
    height: 600px;
    background-color: blue;
}

#right_content {
    width: 836px;
    height: 1000px;
    background-color: red;
}